@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
.customContainer{
    font-family: 'Montserrat', sans-serif !important;

}
.headerAboutUs{
    font-size: 96px !important;
    font-weight: 800;
}


@media(max-width:552px ){
    .headerAboutUs{
        font-size: 52px !important;
       font-weight: 800;
    }
}


.aboutus-body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}