/* Cargar la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.font-family_addYourEvent {
    font-family: 'Montserrat', sans-serif;
}

/*Fondo de pantalla*/
.bg_addYourEvent{
    background-image: url('../assets/img/bg_AddYourEvent.png') !important;
    background-size: cover; 
}

/*Quitar fondo de pantalla en pantallas pequeñas*/
@media (max-width: 767px) {
    .bg_addYourEvent {
        background-image: none !important;
        background-color: #ffffff; /* opcional: fondo blanco o el que quieras */
    }
}

/*Container del formuclario*/
.custom-form_addYourEvent {
    border: 1px solid #4D194D;
    max-width: 800px;
    width: 50%;
}

/* Botones tipos de entradas*/
/* Estilo base para todos los botones (no seleccionados) */
#general + label[for="general"],
#vip + label[for="vip"],
#premium + label[for="premium"] {
    background-color: #4D194D ;
    color: white;
    border-color: #4D194D;
}


/* Cuando el checkbox está seleccionado, cambia el estilo del label */
#general:checked + label[for="general"],
#vip:checked + label[for="vip"],
#premium:checked + label[for="premium"] {
  background-color: #B44CB4 ; /* color personalizado */
    color: white;
    border-color: #B44CB4;
}


/*Botón para enviar formulario*/
.button_addYourEvent.btn {
    background-color: #4D194D;
    border: 2px solid #4D194D;
    color: #ffffff;
}
.button_addYourEvent.btn:hover {
    background-color: #B44CB4;
    border: 2px solid #B44CB4;
    color: #ffffff;
}
