/* Cargar la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
.body-cart{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
.font-family_cart {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}


.empty-cart-button {
    background-color: #4d194d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.empty-cart-button:hover {
    background-color: #B44CB4;

}

.summary-box {
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.resumen-pedido {
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}