/* Cargar la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.font-family_historialPedidos {
    font-family: 'Montserrat', sans-serif;
}

h2{
    color: #4D194D !important;
}

a.rate-button {
    background-color: #4d194d;
    color: white;
    border: none;
    padding: 5px 5px;
}

a.rate-button:hover {
    background-color: #B44CB4;

}

