/* Cargar la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.font-family_login {
    font-family: 'Montserrat', sans-serif;
}

/*Container del login*/
.border-custom_login {
    border: 1px solid #4D194D;
    max-width: 900px;
}

/*Tamaño de letra del login*/
.font-size_login{
    font-size: 12px;
}

/*Botón inicio de sesión*/
.button_login.btn {
    font-size: 12px;
    background-color: #4D194D;
    border: 2px solid #4D194D;
    color: #ffffff;
}

.button_login.btn:hover {
    background-color: #B44CB4;
    border: 2px solid #B44CB4;
    color: #ffffff;
}

/*Botón olvidé contraseña*/
.forgot-password{
    font-size: 12px;
    color:#4D194D;
    text-decoration: none;
}

.forgot-password:hover{
    font-size: 12px;
    color:#B44CB4;
    text-decoration: none;
}

/*Botón que lleva a registrarse*/
.register-link {
    color:#4D194D;
    text-decoration: none;
}

.register-link:hover {
    color:#B44CB4;
    text-decoration: none;
}





