/* Cargar la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.font-family_register {
    font-family: 'Montserrat', sans-serif;
}

/*Container del register*/
.border-custom_register {
    border: 1px solid #4D194D;
    max-width: 900px;
}

/*Tamaño de letra del register*/
.font-size_register{
    font-size: 12px;
}

/*Tamaño letra placeholder*/
form input::placeholder {
    font-size: 10px;
}

/* Botón crear cuenta */
.button_register.btn {
    font-size: 12px;
    background-color: #4D194D;
    border: 2px solid #4D194D;
    color: #ffffff;
}

.button_register.btn:hover {
    background-color: #B44CB4;
    border: 2px solid #B44CB4;
    color: #ffffff;
}

/*Botón que lleva al login*/
.login-link {
    color:#4D194D;
    text-decoration: none;
}

.login-link:hover {
    color:#B44CB4;
    text-decoration: none;
}

/*Ajustar imagen*/
.img_register{
    object-fit: cover;
}